.switchingHoverImage {
  background-size: contain;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--image-normal);
  &:hover {
    background-image: var(--image-hover);
  }
}