:root {
  --ks-logo-color: #1b134e;
  --ks-logo-timing: 30s;
  --symbol-size: 40px;
  --text-size: 20px;
}


.icon {
  color: var(--ks-logo-color);
  display: flex;
  align-items: center;
}

.icon-text {
  width: auto;
  height: var(--text-size);
}

.ks-symbol {
  display: flex;
  width: var(--symbol-size);
  height: var(--symbol-size);
  margin-bottom: 12px;
}

.skew {
  display: flex;
  transform-style: preserve-3d;
  transform: perspective(7cm) rotateX(45deg) rotateY(31deg);
}

.spin {
  animation: spin 30s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-header {
  background-color: #1b134e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}
