:root {
  --ks-logo-color: #1b134e;
  --ks-logo-timing: 30s;
  --symbol-size: 40px;
  --text-size: 20px;
}

.screen-container{
  width: 978px;
}

@media screen and (max-width: 1280px) {
  .screen-container{
    width: auto;
  }
  .pagination li a{
    color: black;
    cursor: pointer;
    background-color: #fff;
    border-color: #dee2e6;
    padding: 12px 21px;
    border-radius: 4px;
    margin-right: 4px;
  }

}

.pagination{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.pagination li a{
  color: black;
  cursor: pointer;
  background-color: #fff;
  border-color: #dee2e6;
  padding: 12px 21px;
  border-radius: 4px;
  margin-right: 8px;
}



.icon {
  color: var(--ks-logo-color);
  display: flex;
  align-items: center;
}

.icon-text {
  width: auto;
  height: var(--text-size);
}

.ks-symbol {
  display: flex;
  width: var(--symbol-size);
  height: var(--symbol-size);
  margin-bottom: 12px;
}

.skew {
  display: flex;
  transform-style: preserve-3d;
  transform: perspective(7cm) rotateX(45deg) rotateY(31deg);
}

.spin {
  animation: spin 30s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}
